<div class="postBox">
    <div class="postText">
        <p><%=data.name%></p>
        <p>Metacritic Rating: <%=data.metacritic%></p>
    </div>    
    <div class="postImageBox">
        <img class="postImage" src="<%=data.background_image%>"> 
    </div>
    <textarea class="postDesc"><%=data.description_raw%></textarea>
</div>
<div class="comments">
<% for(let i = 0; i < posts.length; i++) { %>
    <% let thisPost = posts[i].get() %> 
    <% for(let j = 0; j < thisPost.comments.length; j++) { %>
        <% let thisComment = thisPost.comments[j].get() %>
        <%= thisComment.content %> 
    <% } %>
<% } %>  
</div>
    <% if(currentUser) { %>
    <div class="postCommentBox">
        <form action="/home/post" method="POST">
                <input type="hidden" name="username" value="<%=currentUser.name%>">
                <input type="hidden" name="slug" value="<%=data.slug%>">
                <input type="hidden" name="title" value="<%=data.name%>">
            <div class="postCommentForm">
                <div class="postCommentLabel">
                <label for="content" class="postCommentLabel">Comments?</label>
                </div>
                <div class="postCommentTextarea">
                    <textarea class="postCommentTextBox" name="content" id="content" rows="3"></textarea>
                </div>
                <div class="postCommentButton">
                    <button type="submit" value="Update" class="postCommentButton">submit!</button>
                </div>
            </div>
        </form>
    </div>
    <% } %>

</div>